* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Qatar2022Arabic;
  src: url(./assets/Qatar2022/Qatar2022-Bold.otf);
}

:root {
  --card-title-border-color: #746615;
  --card-color-primary: #f7dd43;
  --card-bg-color: #1d1c19;
  --bg: url(./assets/bg-blue.svg)
}

body.blue {
  --card-title-border-color: #338AF3;
  --card-color-primary: #338AF3;
  --card-bg-color: #202024;
  --bg: url(./assets/bg-yellow.svg)
}

body.green {
  --card-title-border-color: #047C3f;
  --card-color-primary: #047C3f;
  --card-bg-color: #1A1F1B;
  --bg: url(./assets/bg-green.svg)
}


ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: var(--bg);
  background-position-x: center;
  background-position-y: -715px;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: "Qatar2022Arabic", sans-serif;
}

#app {
  width: fit-content;
  max-width:fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  justify-content: center;
  gap: 72px;
  flex-wrap: wrap;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}
/* .card  h4 {
  font-weight: 100;
  margin-top: -13px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 4px 8px;
  border: 1px solid #06f0c7;
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 23px;

  color: #00af8c;
}
*/

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}

.card ul li img, .card ul li strong, .card h2{
  transition: transform 0.5s;
  cursor: pointer;
}

.card ul li img:hover,
.card ul li strong:hover,
.card h2:hover {
  /* -webkit-transform: scale(0.5); */
  transform: scale(1.1);
}

.card {
  opacity: 0;
  animation: appear 2s forwards;
}



@keyframes appear {
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}






